.venv
.env
__pycache__
/db-schemas-ts
data/datasets
data/processed
data/features
models
AUTOMOTIVE_DATASETS_AND_RESOURCES.md
CARSENSE_BACKEND_DOCUMENTATION.md
ML_SERVICE_ROADMAP.md
data/README.md
dtc.json
volvo_preprocess.log
volvo_aggregation.log
romanian_preprocess.log
romanian_aggregation.log

# EDA plots
eda_plots/

# Notebook checkpoints
data/model_input/romanian_driving_ds_final.parquet
data/model_input/volvo_v40_full_final.parquet
